@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  html {
    scroll-behavior: smooth;
  }

}

@layer components {
  .app {
    @apply bg-custom-dark-blue h-full;
  }

  .solid-white-btn {
    @apply border rounded text-custom-indigo border-white bg-white
    hover:border-transparent hover:bg-slate-300 mt-4 lg:mt-0
    transition ease-out duration-500;
  }

  .outline-btn {
    @apply border rounded text-white border-white 
    hover:border-transparent hover:text-custom-indigo 
    hover:bg-white mt-4 lg:mt-0
    transition ease-out duration-500
  }
}