@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-custom-dark-blue h-screen;
  }
}

@layer components {
  .app {
    @apply bg-custom-dark-blue h-screen;
  }

  .solid-white-btn {
    @apply border rounded text-custom-indigo border-white bg-white
    hover:border-transparent hover:bg-slate-300 mt-4 lg:mt-0
    transition ease-out duration-500;
  }

  .solid-indigo-btn {
    @apply border rounded text-custom-white border-custom-indigo bg-custom-indigo
    hover:border-transparent hover:bg-[#6b79f2d2] mt-4 lg:mt-0
    transition ease-out duration-500;
  }

  .outline-btn {
    @apply border rounded text-white border-white 
    hover:border-transparent hover:text-custom-indigo 
    hover:bg-white mt-4 lg:mt-0
    transition ease-out duration-500;
  }
}
